@charset "UTF-8";
section{
	margin: auto;
	/* max-width: 1560px; */
	max-width: 1350px;
	width: 100%;
}


.img100{
	width: 100%;
}

.padding_event{
	padding: 0px 100px;
}
 
 
@media screen and (min-width: 1400px){
	#headerDiv, .navbar, section, footer{
		width: 80%;
	}
	#searchInput{
		width: 90%;
	}
	#spaceDiv{
		display: none;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1399.99px){
	#headerDiv, .navbar, section, footer{
		width: 85%;
	}
	.padding_event{
		padding: 0px 100px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199.99px){
	#headerDiv, .navbar, section, footer{
		width: 90%;
	}
	.padding_event{
		padding: 0px 50px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991.99px){
	#headerDiv, .navbar, section, footer{
		width: 95%;
	}
	.padding_event{
		padding: 0px 50px;
	}
}
@media screen and (min-width: 576px) and (max-width: 767.99px){
	#headerDiv, .navbar, section, footer{
		width: 98%;
	}
	.padding_event{
		padding: 0px 30px;
	}
}
@media screen and (max-width: 575.99px){
	#headerDiv, .navbar, section, footer{
		width: 98%;
	}
	.padding_event{
		padding: 0px 10px;
	}
}
