@charset "UTF-8";
.dropdown-toggle::after {
	display:none;
}
#insertFrm, #updateFrm{
	width: 70%;
	min-width: 500px;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.center{
	text-align: center;
	margin-top: 50px;
}
#imgArea{
	height: 500px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	background-color: #eeeeee;
	cursor: pointer;
	text-align: center;
	background-size: 500px 500px;
}
#imgText{
	display: inline-block;
	padding-top: 250px;
	font-size: 20px;
	font-weight: bold;
	color: #747474;
	margin-bottom: 30px;
	cursor: pointer;
}
#imgButton{
	display: inline-block;
	width: 200px;
	height: 50px;
	padding: 13px;
	border: none;
	background-color: #747474;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
#imgUpload{
	visibility: hidden;
}
#imgUploadInfo{
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}
label{
	width: 100%;
}
#imgUploadLabel{
	width: 100%;
	text-align: center;
}
#titleArea{
	width : 750px;
	margin-left : auto;
	margin-right : auto;
	padding : 0;
}
#title{
	width: 100%;
	height: 65px;
	border: none;
	padding: 10px 5px;
	border-radius: 10px;
	font-size: 25px;
}
#title:focus{
	outline: 3px solid #ffb6c1;
}
#title::placeholder{
	font-weight: bold;
	font-size: 25px;
	color: lightgray;
}
#titleInfo, #contentInfo, #imgUploadInfo{
	border-top: 2px solid red;
	padding: 10px 20px;
	margin-bottom: 20px;
	color: red;
	font-weight: bold;
	visibility: hidden;
}
.note-editor{
	margin-left : auto;
	margin-right : auto;
}
#summernote::placeholder{
	font-weight: bold;
	font-size: 20px;
	color: lightgray;
}
#butttonArea{
	text-align: right;
	margin-bottom: 50px;
}
#submitButton, #calcelButton{
	border: 2px solid #ffb6c1;
	border-radius: 5px;
	width: 150px;
	height: 50px;
	margin: 10px;
	background-color: white;
	font-size: 20px;
	font-weight: bold;
	color: #ffb6c1;
}
#submitButton:hover, #calcelButton:hover{
	background-color: #ffb6c1;
	color: white;
}
#coverImg{
	display : none;
}
.MainImg{
	overflow : hidden;
	max-height : 800px;
	margin-bottom : 50px;
}
.MainImg img{
	max-height: initial;
	width : 100%;
	margin-top : -20%;
}
.qna_content{
	width: 100%;
}

/* 미디어 쿼리  CSS */
/*========================================================================*/
@media screen and (min-width: 1400px){
	#headerDiv, .navbar, footer{
		width: 80%;
	}
	#searchInput{
		width: 90%;
	}
	#spaceDiv{
		display: none;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1399.99px){
	#headerDiv, .navbar, footer{
		width: 85%;
	}
	#searchInput{
		width: 90%;
	}
	#spaceDiv{
		display: none;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199.99px){
	#headerDiv, .navbar, footer{
		width: 90%;
	}
	#searchInput{
		width: 90%;
	}
	#spaceDiv, .hiddenStory, .hiddenShop{
		display: none;
	}
	.categoryDiv{
		font-size: 15px;
		width: 80%;
		margin-left: 20px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991.99px){
	#headerDiv, .navbar, footer{
		width: 95%;
	}
	#searchInput{
		width: 89%;
	}
	#spaceDiv, .hiddenStory, .hiddenShop{
		display: none;
	}
	.categoryDiv{
		font-size: 12px;
		width: 90%;
		margin-left: 0px;
	}
	.categoryUl{
		padding: 15px 0px 15px 10px;
	}
}
@media screen and (min-width: 576px) and (max-width: 767.99px){
	#headerDiv, .navbar, footer{
		width: 98%;
	}
	#searchFrm{
		width: 55%;
	}
	#mypage, #delivery, #basket, #viewList, #menuLogin, #menuJoin, #spaceDiv{
		display: none;
	}
	#menuComm{
		border-right: 1px solid lightgray;
	}
	#smallMenu{
		display: inline-block;
	}
	.categoryDiv{
		font-size: 10px;
		width: 95%;
		margin-left: 0px;
	}
	.sidebar_menu{
		width: 400px;
	}
}
@media screen and (max-width: 575.99px){
	#headerDiv, .navbar, footer{
		width: 98%;
	}
	#searchFrm, #mypage, #delivery, #basket, #viewList, #mainNavbar{
		display: none;
	}
	#smallMenu{
		display: inline-block;
	}
	.sidebar_menu{
		width: 100%;
		max-width: 400px;
	}
}