@charset "UTF-8";
/*카테고리*/
.store_list_side-bar{
	width: 170px;
}
.category{
	text-align: center;
	font-size: 21px;
	color: black;
	cursor: pointer;
	margin-bottom: 50px;
}
.category_img{
	height: 80%;
}
.category_link2{
	cursor:pointer;
}
.category_ul{
	padding: 0px;
}
.category_link2{
	padding-left: 20px;
	list-style-type : none;
}
.category_link2:hover{
	background-color: #ffebf0;

}

.storeTitle{
	font-size: 25px;
	font-weight: bold;
}


.margin_auto{
	margin: auto;
}



.sort{
	border:none;
}

/*아코디언*/
.accordion-body{
	padding: 5px 0px;
	
}

/*아코디언 버튼 색상css*/
.accordion-button:not(.collapsed) {
	color: #ffffff;
	background-color: #ffb6c1;
	border: none;
}

.accordion-button:focus {
	box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      	transform: rotate(-180deg);
}


/*가격범위css*/
.proerty-filter-panel-range-control_input-row{
	width: 100%;
	height: 100%;
	padding: auto;
}

.row{
	margin:0;
	padding:0;
}

/*home_list에서 가져옴*/
.list_{
	margin-top : 45px;
	margin-bottom: 20px;/*마진바텀 추가함*/
	list-style: none;

}
.list_btn, .price_btn{
	width : 80px;
	height : 30px;
	border-radius : 15px;
	background : none;
	border : none;
}
.list_all{
	margin-top : 50px;
	color : gray;
	font-size : 15px;
}
.price_box{
	display: none;
	width: 370px;
	height: 30px;
	border: 1px solid #ffb6c1;
	border-radius: 5px;
	padding-top: auto;
	padding-bottom: auto;
}

.price_add{
	width: 50px;
	background: gray;
	
}

/*팝업위치및 크기*/
#pricePopup {
	position: absolute;
	z-index: 10;
	/* width: 500px; */
	display: none;
}

/*입력창 조절*/
.property-filter-panel-range-control__input-row__input {
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 6px 12px;
	border: 1px solid #dadce0;
	border-radius: 4px;
	background: #fff;
	color: #292929;
	font-family: inherit;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: normal;
	text-align: left;
}

.animated-popout.open.open.open {
	visibility: visible;
	opacity: 1;
	transform: none;
	transition: opacity .2s,transform .2s;
}

.popout .drop-down__content.property-filter-bar-drop-down .drop-down-panel {
	border-radius: 4px;
	box-shadow: 0 1px 4px 0 rgb(0 0 0 / 30%);
}

.drop-down-panel {
	margin: 0 -1px;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 0 -1px 16px rgb(0 0 0 / 20%);
	border-radius: 10px;
	overflow: hidden;
	white-space: nowrap;
}

.drop-down-panel .property-filter-panel-range-control {
	width: 460px;
	max-height: 370px;
	padding: 10px 15px;
	box-sizing: border-box;
}

.property-filter-panel-range-control__input-row, .property-filter-panel-range-control__input-row__cell {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
}


.property-filter-panel-range-control__input-row {
	-ms-flex-align: center;
	padding: 8px;
	color: #424242;
	font-size: 15px;
	line-height: 30px;
}

.property-filter-panel-range-control__input-row {
	-ms-flex-align: center;
	padding: 8px;
	color: #424242;
	font-size: 15px;
	line-height: 30px;
}

.property-filter-panel-range-control__input-row__button {
	font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
	display: inline-block;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.3;
	letter-spacing: normal;
	color: rgb(255, 255, 255);
	background-color: rgb(101, 110, 117);
	margin: 0px 0px 0px 12px;
	padding: 7px 13px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(101, 110, 117);
	border-image: initial;
	border-radius: 4px;
	transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
}


/* 미디어 쿼리  CSS */
/*========================================================================*/
@media screen and (min-width: 1400px){
	
}
@media screen and (min-width: 1200px) and (max-width: 1399.99px){

}
@media screen and (min-width: 992px) and (max-width: 1199.99px){
	
}
@media screen and (min-width: 768px) and (max-width: 991.99px){
	
}
@media screen and (min-width: 576px) and (max-width: 767.99px){
	.store_list_side-bar{
		width: 100%;
	}
	.storeTitle{
		margin-top: 20px;
	}
	#sectionDiv{
		text-align: right;
	}
}
@media screen and (max-width: 575.99px){
	.store_list_side-bar{
		width: 100%;
	}
	.storeTitle{
		margin-top: 20px;
	}
	#sectionDiv{
		text-align: right;
	}
}