<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
				"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
        <typeAlias type="edu.study.vo.BoardVO" alias="boardVO"/>
        <typeAlias type="edu.study.vo.Community_BoardVO" alias="Community_boardVO"/>
        <typeAlias type="edu.study.vo.HomeSearchVO" alias="HomeSearchVO"/>
        <typeAlias type="edu.study.vo.HomeStoreVO" alias="HomeStoreVO"/>
        <typeAlias type="edu.study.vo.HomeStoryVO" alias="HomeStoryVO"/>
        <typeAlias type="edu.study.vo.MemberVO" alias="MemberVO"/>
        <typeAlias type="edu.study.vo.OrderListVO" alias="OrderListVO"/>
        <typeAlias type="edu.study.vo.SearchVO" alias="SearchVO"/>
        <typeAlias type="edu.study.vo.StoreVO" alias="StoreVO"/>
        <typeAlias type="edu.study.vo.BasketVO" alias="BasketVO"/>
        <typeAlias type="edu.study.vo.Community_ReplyVO" alias="Community_replyVO"/>
        <typeAlias type="edu.study.vo.Store_qnaVO" alias="Store_qnaVO"/>
        <typeAlias type="edu.study.vo.PagingVO" alias="PagingVO"/>
        <typeAlias type="edu.study.vo.PayInfoVO" alias="PayInfoVO"/>
        <typeAlias type="edu.study.vo.FollowVO" alias="FollowVO"/>
        <typeAlias type="edu.study.vo.Store_reviewVO" alias="Store_reviewVO"/>
        <typeAlias type="edu.study.vo.MyContentVO" alias="MyContentVO"/>
        <typeAlias type="edu.study.vo.MemberPagingVO" alias="MemberPagingVO"/>
        <typeAlias type="edu.study.vo.MyQnaVO" alias="MyQnaVO"/>
        <typeAlias type="edu.study.vo.ManagementMemberVO" alias="ManagementMemberVO"/>
        <typeAlias type="edu.study.vo.StatsVO" alias="StatsVO"/>
        <typeAlias type="edu.study.vo.ScrapVO" alias="ScrapVO"/>
        <typeAlias type="edu.study.vo.StorePagingVO" alias="StorePagingVO"/>
    </typeAliases>

</configuration>