@charset "UTF-8";

.basket_content *{
	padding:0;
	margin:0;
	font-size: 0.8em;
	
}

.basket_content{
	min-height: 700px;
	max-width: 1560px;
	margin:auto;
}

/* ul li 스타일없애기 */
.no_list{
	margin:0;
	padding:0;
	list-style: none;
}

/*상품이미지*/
.basket_content .product_image{
	width: 70%;
}

/*전체 체크박스*/
.checkbox_all{
	z-index: 30;
	width: 100%;
	height:30px;
	padding-left: 10px;
}

/*텍스트 가운데정렬*/
.text_center{
	text-align: center;
}

.text_middle{
	vertical-align: middle;
}


/*상품 수량및 금액 위치설정*/
.basket_content li{
	position: relative;
}
.absolute_center{
	position: absolute;
	top: 20%;
	left: 9%;
}

/*상품별 구분선*/
.border_b{
	border-bottom: 1px solid gray; padding:10px;
}

.margin_tb10{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*상품박스 테두리*/
.content_box{
	border:1px solid #ffb6c1; 
	border-radius: 20px; 
	padding: 20px; 
	margin-bottom: 100px;
}

/*페이지 정보 장바구니*/
.page_title{
	font-size:30px;
	margin-bottom: 30px;
}



/*우측 결제박스*/
.sticky_box{
	position:sticky;
	top:150px;
	width: 100%;
	height:270px;
	bottom:200px;
	border: 1px solid #ffb6c1; 
	border-radius: 10px;
	padding:15px;
}
.sumPriceBox{
	margin-top : 5px; height: auto;
}
.sumPriceBox_tltel{
	border-bottom: 1px solid black; 
	padding-bottom: 10px; 
	font-size: 2em;
}
.sumPriceBox_content{
	border-bottom: 1px solid black; 
	padding-top:10px; 
	padding-bottom: 10px;
}
.font_size_small{
	font-size: small;
}
.sumPriceBox_content_text_right{
	text-align: right; 
}
.sumPriceBox_button{
	width: 100%;
	height: 40px;
	border: 2px solid #ffb6c1;
	border-radius: 5px;
	background-color: #ffb6c1;
	color: white;
	margin: auto;
	font-size: 20px;
	font-weight: bold;
}
.sumPriceBox_button:hover{
	color: #ffb6c1;
	background-color: white;
}

.bottom_all_price{
	height: 55px;
	border-radius: 0px 0px 15px 15px;
	background-color: #ffb6c1;
	font-size: 15px;
}
.bottom_all_price_text{
	padding-top:10px;
}
.bottom_all_price_sign{
	padding-top:20px;
}
.bottom_all_price_price{
	font-weight: bold;
	font-size: 15px;
}

/*모바일 결제버튼*/
.m_payment_button{
	display: none;
	width: 100%; 
	margin-top:30px;
}



/* 미디어 쿼리  CSS */
/*========================================================================*/
@media screen and (min-width: 1400px){
	.absolute_center{
		position: absolute;
		top: 40%;
		left: 9%;
	}
	.m_payment_button{
		display: none;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1399.99px){
	.absolute_center{
		position: absolute;
		top: 40%;
		left: 9%;
	}
	.m_payment_button{
		display: none;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199.99px){
	.absolute_center{
		position: absolute;
		top: 30%;
		left: 9%;
	}
	.m_payment_button{
		display: none;
	}
}
@media screen and (min-width: 768px) and (max-width: 991.99px){
	.absolute_center{
		position: absolute;
		top: 20%;
		left: 9%;
	}
	.m_payment_button{
		display: none;
	}
}
@media screen and (min-width: 576px) and (max-width: 767.99px){
	.absolute_center{
		position: absolute;
		top: 20%;
		left: 9%;
	}
	.sticky_box{
		padding: 20px 8px;
	}
	.m_payment_button{
		display: none;
	}
}
@media screen and (max-width: 575.99px){
	.absolute_center{
		position: absolute;
		top: 20%;
		left: 9%;
	}
	.sumPriceBox{
		display: none;
	}
	.m_payment_button{
		display: block;
	}
}