@charset "UTF-8";
		/*타이틀*/
		.order_title{
			font-size: 1.5rem;
			font-weight: 600;
			margin-bottom: 30px;
			color:#424242;
		}

		/*서브타이틀*/
		.number_order{
			font-weight: bold;
			color:#808080;
		}

		/* 이미지*/
		.imgDiv{
			text-align: center; 
			border-right:1px solid lightgray;
		}
		
		.imgDiv img{
			width:140px;
		}
		
		/* div wrap*/
		#detail_order{
			margin-bottom:20px;
		}
		
		
		.ligtD{
			text-align: center; 
			margin-top:50px;
			height:90px;
			font-weight:bold;
			font-size:1rem;
			color:#222222;
			
		}
		
		.delInfo{
			text-align: center; 
			font-weight:bold;
			margin-bottom:40px;
			margin-top:30px;
			font-size:1rem;
			color:#222222;
		}
		
		#price{
			color:#ff8da1;
		
		}
		
		
		.small{
			font-size:0.9rem;
		}
		
		#backOrderlist{
			text-decoration:none;
			color:#ff8da1;
			
		}
		
		.aWrap{
			text-align:right;
			margin-bottom:20px;
		}
		
		
		/* 미디어 쿼리  CSS */
   		/*========================================================================*/
   		/*========================================================================*/
   		/*========================================================================*/
		@media screen and (min-width: 1400px){
			#headerDiv,.navbar{
				width: 80%;
			}
			
			section{
				width:90%;
			}
			
			#searchInput{
				width: 90%;
			}
			#spaceDiv{
				display: none;
			}
			
		}
		@media screen and (min-width: 1200px) and (max-width: 1399.99px){
			#headerDiv,.navbar, section, footer{
				width: 85%;
			}
			#searchInput{
				width: 90%;
			}
			#spaceDiv{
				display: none;
			}

			
		}
		@media screen and (min-width: 992px) and (max-width: 1199.99px){
			#headerDiv, .navbar, footer{
				width: 90%;
			}
			
			section{
				width:100%;
			}
			
			
			#searchInput{
				width: 90%;
			}

			#spaceDiv, .hiddenStory, .hiddenShop{
				display: none;
			}

			#spaceDiv{
				display: none;
			}

			.categoryDiv{
				font-size: 15px;
				width: 80%;
				margin-left: 20px;
			}
		}
		@media screen and (min-width: 768px) and (max-width: 991.99px){
			#headerDiv, .navbar, footer{
				width: 95%;
			}
			
			section{
				width:100%;
			}
			
			#searchInput{
				width: 89%;
			}
			#spaceDiv, .hiddenStory, .hiddenShop{
				display: none;
			} 
			.categoryDiv{
				font-size: 12px;
				width: 90%;
				margin-left: 0px;
			}
			.categoryUl{
				padding: 15px 0px 15px 10px;
			}
		
		}
		@media screen and (min-width: 576px) and (max-width: 767.99px){
			#headerDiv, .navbar, footer{
				width: 98%;
			}
			
			section{
				width:100%;	
			}
			
			#searchFrm{
				width: 55%;
			}
			#mypage, #delivery, #basket, #viewList, #menuLogin, #menuJoin, #spaceDiv{
				display: none;
			}
			#menuComm{
				border-right: 1px solid lightgray;
			}
			#smallMenu{
				display: inline-block;
			}
			
			.categoryDiv{
				font-size: 10px;
				width: 95%;
				margin-left: 0px;
			}
			.sidebar_menu{
				width: 400px;
			}
			
			/* 본문 css */
			
			.order_title{
			font-size: 1.6rem;
			color: #222222; 
			font-weight: 700;
			}
			
			.okTitle{
				font-size: 1.6rem;
				font-weight:1200;	
			}
			
			.odrdetail{
				font-size: 0.9rem;
			}
			
			
			.imgDiv img{
				margin-top:15px;
				width:90px;
			}
			
			
			.ligtD{
			
				font-size:0.8rem;
			
			}
		
			.delInfo{
			
				font-size:0.8rem;
			
			}
			
			
			
		}
		
		
		@media screen and (max-width: 575.99px){
			#headerDiv, .navbar, footer{
				width: 98%;
			}
			
			section{
				width:100%;
			}
			
			#searchFrm, #mypage, #delivery, #basket, #viewList, #mainNavbar{
				display: none;
			}
			
			#smallMenu{
				display: inline-block;
			}
			
			.sidebar_menu{
				width: 400px;
			}
			
			.member_modiv{
				border: none;
			}

   			nav{ 
				display:none;
			}
			section{
			
				border-top: 3px solid #ffb6c1; 
			}
			
			.order_title{
				margin-top:30px;
				font-size: 1.5rem;
				font-weight: 1200;
			}
			
			.okTitle{
				font-size: 1.5rem;
				font-weight:1200;	
			}
			
			.odrdetail{
				font-size: 0.8rem;
			}
		
			#odrApply{
				font-size: 17px;
				font-weight:bold;
			}

			.imgDiv img{
				margin-top:20px;
				width:85px;
			}

			.ligtD{
			
				font-size:0.8rem;
			
			}
		
			.delInfo{
			
				font-size:0.8rem;
			
			}

			.small{
				font-size:0.7rem;
			}

		} 
		