@charset "EUC-KR";
  
  /*메인컬러:ffb6c1 핑크*/
  
		  section{
			margin: auto;
			max-width: 1560px;
			color:gray;
		}
		
		/*input 테두리*/
		input:focus{
			outline:4px solid #ffb6c1;
		}
		
		/*select 화살표 없애는 방법*/
		select{
			border:none;
			border-radius:0;
			-webkit-appearance:none;
			-moz-apearance:none;
			appearance:none;
		
		}
		  
   		.member_modiv{	
   			border: 1px solid #dcdcdc;
   			text-align: left;
   			width:100%;
   			margin-bottom:30px;
   			
   		}
   	
   		.membermodiv_title{
   			font-size: 1.6rem;
			color: black;
			margin-top: 40px;
			margin-bottom: 50px;
			margin-left:30px;
			font-weight: 1000;
   		}
   		
   		.withdrawal{
   			height:50px;
   			text-align:right;
   			margin-right:20px;
   			
   		}
   		
   		a{
   			text-decoration: none;
   			color:gray;
   		}
   		
   		a:hover{
   			color:#ffb6c1;
   			text-decoration: underline;
   		}
   		 
   		
		.edit_dummy,.memberEditSubmit{
			margin-left:30px;
			margin-bottom:50px;
		}   	
		
   		

   		.Edit{
   			display: inline-block;
   		}

   		/*.compulsory{
   			font-size: 0.7rem;
   			position: relative;
   			top: 10px;
   			right: 50px;
   		}*/

   		
   		.edit_member_info{
   			width: 120px;
   			font-size: 1rem;
   			font-weight: 800;
   		}
   		
   		.edit_dummy input[type=text], select{
   			text-align:center;
   			color:gray;
			background:white;
			border:1px solid #dcdcdc;
			font-size:medium;
			font-weight:medium;
			border-radius: 0.25rem;
			height:40px; 
   		
   		}
   		
   		.edit_member_form input[type=radio]{
   			color:#ffb6c1;
   		
   		}
   		

		#idInput,.emailInput{
			width:175px;
			
		}
		
		#nickInput{
			width:370px;
	
		}
		

		 .phoneInput{
			width:120px;
		}
		
		input[type=submit]{
			width:500px; 
			height:50px;
			display: inline-block;
			font-weight: 800;
			color: white;
			text-align: center; 
		 	text-decoration: none;
			vertical-align: middle;
			cursor: pointer;
			background-color: #ffb6c1;
			padding: 0.375rem 0.75rem;
			font-size: 1.2rem;
			border-radius: 0.25rem;
			border: none;
		}
		
		input[type=submit]:hover{
			color: #ffb6c1;
			background-color: white;
			border: 1px solid #ffb6c1;
		}
	
		
		/*라디오버튼css*/
		div.radio-wrap {
		  display: inline-flex;
		  align-items: center;
		}
		
		
		
		input[type='radio'],input[type='radio']:checked {
  			appearance: none;
  			width: 1.6rem;
			height: 1.6rem;
		 	border-radius: 100%;
			margin-right: 0.1rem;
			cursor: pointer;
		}
		
				
		input[type='radio']{
		  background-color: white;
		  border: 1px solid #dcdcdc;
		}
		
		input[type='radio']:checked {
		  background-color: white;
		  border: 8px solid #ffb6c1;
		}

		/* 미디어 쿼리  CSS */
   		/*========================================================================*/
   		/*========================================================================*/
   		/*========================================================================*/
		@media screen and (min-width: 1400px){
			#headerDiv,.navbar{
				width: 80%;
			}
			
			section{
				width:90%;
			}
			
			#searchInput{
				width: 90%;
			}
			#spaceDiv{
				display: none;
			}
			
		}
		@media screen and (min-width: 1200px) and (max-width: 1399.99px){
			#headerDiv,.navbar, section, footer{
				width: 85%;
			}
			#searchInput{
				width: 90%;
			}
			#spaceDiv{
				display: none;
			}

			#mystory4{
				display: none; 
			}
			
		}
		@media screen and (min-width: 992px) and (max-width: 1199.99px){
			#headerDiv, .navbar, footer{
				width: 90%;
			}
			
			section{
				width:100%;
			}
			
			
			#searchInput{
				width: 90%;
			}

			#spaceDiv, .hiddenStory, .hiddenShop{
				display: none;
			}

			#spaceDiv{
				display: none;
			}

			.categoryDiv{
				font-size: 15px;
				width: 80%;
				margin-left: 20px;
			}
		}
		@media screen and (min-width: 768px) and (max-width: 991.99px){
			#headerDiv, .navbar, footer{
				width: 95%;
			}
			
			section{
				width:100%;
			}
			
			#searchInput{
				width: 89%;
			}
			#spaceDiv, .hiddenStory, .hiddenShop{
				display: none;
			} 
			.categoryDiv{
				font-size: 12px;
				width: 90%;
				margin-left: 0px;
			}
			.categoryUl{
				padding: 15px 0px 15px 10px;
			}
		
		}
		@media screen and (min-width: 576px) and (max-width: 767.99px){
			#headerDiv, .navbar, footer{
				width: 98%;
			}
			
			section{
				width:100%;	
			}
			
			#searchFrm{
				width: 55%;
			}
			#mypage, #delivery, #basket, #viewList, #menuLogin, #menuJoin, #spaceDiv{
				display: none;
			}
			#menuComm{
				border-right: 1px solid lightgray;
			}
			#smallMenu{
				display: inline-block;
			}
			
			.categoryDiv{
				font-size: 10px;
				width: 95%;
				margin-left: 0px;
			}
			.sidebar_menu{
				width: 400px;
			}
			
			.phoneInput{
				width:100px;
			}
			
			#idInput{
				width:120px;	
			}
			
			#nickInput{
				width:320px;
			}
			
			input[type=submit]{
				width:440px;
			}
			
			
		}
		
		
		@media screen and (max-width: 575.99px){
			#headerDiv, .navbar, footer{
				width: 98%;
			}
			
			section{
				width:100%;
			}
			
			#searchFrm, #mypage, #delivery, #basket, #viewList, #mainNavbar{
				display: none;
			}
			
			#smallMenu{
				display: inline-block;
			}
			
			.sidebar_menu{
				width: 400px;
			}
			
			.member_modiv{
				border: none;
			}

			.edit_member_info{
   			width: 90px;
   			font-size: 0.8rem;
   			font-weight: 600;
   			}
   			
   			nav{ 
				display:none;
			}
			section{
				border-top: 3px solid #ffb6c1; 
			}
			
			#idInput, .phoneInput{
				width:100px;
				
			}
			
			#nickInput{
				width:300px;
			}

			input[type=submit]{
				width:400px;
			}

		} 
