@charset "EUC-KR";
  
  /*메인컬러:ffb6c1 핑크*/
  
		section{
			margin: auto;
			max-width: 1560px;
			color:#222222;
			font-size: 1rem;
			font-weight: 600;
		}
		
		/*input 테두리*/
		input:focus{
			outline:4px solid #ffb6c1;
		}
		
	
		/*버튼*/
		input[type=submit]{
			width:500px; 
			height:50px;
			display: inline-block;
			font-weight: 800;
			color: white;
			text-align: center; 
		 	text-decoration: none;
			vertical-align: middle;
			cursor: pointer;
			background-color: #ffb6c1;
			padding: 0.375rem 0.75rem;
			font-size: 1.2rem;
			border-radius: 0.25rem;
			border: none;
		}
		
		input[type=submit]:hover{
			color: #ffb6c1;
			background-color: white;
			border: 1px solid #ffb6c1;
		}
		
		/*div css*/
		
		
		.del{
			margin-left:3%;
			margin-bottom: 30px;
		}
		
		.memberdelete_title{
			font-size: 1.6rem;
			color: black;
			margin-top: 40px;
			margin-bottom: 50px;
			margin-left:3%;
			font-weight: 1000;
		}
		
		.delete_subtitle{
			font-size: 1.4rem;
			color: #ff4162;
			font-weight: 800;
		}
		
		.deleteBox{
			border: 1px solid #dcdcdc;
			border-radius: 0.25rem;
			padding:2%;
		 
		}
		
		/*버튼*/
		#delApply{
			border-radius : 8px;
			width : 22%;
			height : 55px;
			font-size : 20px;
			font-weight : bold;
			background-color : white;
			color : #ffb6c1;
			border : 2px solid #ffb6c1;
		}
		
		#delApply:hover{
			background-color : #ffb6c1;
			color : white;
			border:none;
		}
		
		#delCancel{
			border-radius : 8px;
			width : 22%;
			height : 55px;
			font-size : 20px;
			font-weight : bold;
			background-color : #ffb6c1;
			color : white;
			border : none;
		}
		
		#delCancel:hover{
			background-color : white;
			color : #ffb6c1;
			border: 2px solid #ffb6c1;
		}
		
		
		.liTitle{
			font-size: 1.2rem;
			color: #ff8da1;
		}
				
		/*체크박스css*/
		input[type="checkbox"]{
       		 display: none;
		}
		      
		input[type="checkbox"] + label{
		        display: inline-block;
		        width: 20px;
		        height: 20px;
		        border:1px solid #ff8da1;
		        border-radius:4px;
		        position: relative;
		 }
		input[id="check1"]:checked + label::after{
				background-color:#ff8da1;
				border:none;
		        content:'';
		        font-size: 20px;
		        width: 20px;
		        height: 20px;
		        text-align: center;
		        position: absolute;
		        border-radius:4px;
		        left: 0;
		        top:0;
		   }
	
		textarea{
			width:100%;
			height:200px;
			border:none;
		}
		
		textarea{
			resize:none;		
		}
		
		textarea:focus{
			outline:4px solid #ffb6c1;
			border-radius:8px;
			padding:2%;
		}
		
	
		/* 미디어 쿼리  CSS */
   		/*========================================================================*/
   		/*========================================================================*/
   		/*========================================================================*/
		@media screen and (min-width: 1400px){
			#headerDiv,.navbar{
				width: 80%;
			}
			
			section{
				width:90%;
			}
			
			#searchInput{
				width: 90%;
			}
			#spaceDiv{
				display: none;
			}
			
		}
		@media screen and (min-width: 1200px) and (max-width: 1399.99px){
			#headerDiv,.navbar, section, footer{
				width: 85%;
			}
			#searchInput{
				width: 90%;
			}
			#spaceDiv{
				display: none;
			}

			
		}
		@media screen and (min-width: 992px) and (max-width: 1199.99px){
			#headerDiv, .navbar, footer{
				width: 90%;
			}
			
			section{
				width:100%;
			}
			
			
			#searchInput{
				width: 90%;
			}

			#spaceDiv, .hiddenStory, .hiddenShop{
				display: none;
			}

			#spaceDiv{
				display: none;
			}

			.categoryDiv{
				font-size: 15px;
				width: 80%;
				margin-left: 20px;
			}
		}
		@media screen and (min-width: 768px) and (max-width: 991.99px){
			#headerDiv, .navbar, footer{
				width: 95%;
			}
			
			section{
				width:100%;
			}
			
			#searchInput{
				width: 89%;
			}
			#spaceDiv, .hiddenStory, .hiddenShop{
				display: none;
			} 
			.categoryDiv{
				font-size: 12px;
				width: 90%;
				margin-left: 0px;
			}
			.categoryUl{
				padding: 15px 0px 15px 10px;
			}
		
		}
		@media screen and (min-width: 576px) and (max-width: 767.99px){
			#headerDiv, .navbar, footer{
				width: 98%;
			}
			
			section{
				width:100%;	
			}
			
			#searchFrm{
				width: 55%;
			}
			#mypage, #delivery, #basket, #viewList, #menuLogin, #menuJoin, #spaceDiv{
				display: none;
			}
			#menuComm{
				border-right: 1px solid lightgray;
			}
			#smallMenu{
				display: inline-block;
			}
			
			.categoryDiv{
				font-size: 10px;
				width: 95%;
				margin-left: 0px;
			}
			.sidebar_menu{
				width: 400px;
			}
			
			/* 본문 css */
			
			
			input[type=submit]{
				width:440px;
			}
			
			
		}
		
		
		@media screen and (max-width: 575.99px){
			#headerDiv, .navbar, footer{
				width: 98%;
			}
			
			section{
				width:100%;
			}
			
			#searchFrm, #mypage, #delivery, #basket, #viewList, #mainNavbar{
				display: none;
			}
			
			#smallMenu{
				display: inline-block;
			}
			
			.sidebar_menu{
				width: 400px;
			}
			
			.member_modiv{
				border: none;
			}

   			nav{ 
				display:none;
			}
			section{
				border-top: 3px solid #ffb6c1; 
			}
			

			input[type=submit]{
				width:400px;
			}

		} 
