@charset "UTF-8";


		section{
			margin: auto;
			max-width: 1560px;
		}

		#mypage_profile_box{
			border: 2px solid #ffb6c1;
			width: 95%;
			float: none; 
			margin:0 auto; 
		}

		.mydiv2{
			margin-top: 30px;

		}


		#mydiv2-1, #mydiv2-2{
			width: 95%;
			margin:0 auto;
			border: 2px solid #ffb6c1;
			float: none; 
			max-width: 1000px;
			text-align: center;
			margin-top: 10px;
			
		}

		#mydiv2-1{
			margin-bottom: 30px;
		}

		#mydiv2-2{
			margin-bottom: 60px;
		}

		.mydiv1{
			margin-top: 64px;
			text-align: center;
		}


		.delivery{
			display: inline-block;
			float: none; 
			color: gray;
			font-size: 1.1rem;
			font-weight: bold;
			margin-top: 15px;
			margin-bottom: 15px;
		}

		.delivery strong{
			font-size: 1.5rem;
			color: #6e6e6e;

			
		}

		.delivery-icons{
			text-decoration: none;
			color: #ffb6c1;
			font-size: 100px;
		}
		
		.delivery-icons:hover{ 
			color: #ff8da1;

		}

		.mydivtitle{
			width: 95%;
			margin:0 auto;
			float: none; 
			color: gray;
			font-size: 1.1rem;
			font-weight: bold;
		}

		#profile_image img{
			margin: 20px;
			width: 120px;
			height: 120px;
			border-radius: 100px;
			object-fit:cover
		}

		#profile_name{
			color: #222222;
			font-size: 1.7rem;
			font-weight: bold;
			margin-bottom: 10px;
			margin-top: 10px;

		}

		#profile_follow{
			color: gray;
			font-size: 0.75rem;
			font-weight: bold;
			margin-bottom: 10px;
		}

		#profile_follow strong, .profile_icon strong{
			font-size: 0.85rem;
			color: #222222;
		}
		
		#profile_follow a, .profile_icon a{
			text-decoration:none;
			color:inherit;
		}
		
		#profile_follow:hover{
			color:#ffb6c1; 
		}

		#profile_btn button{
			border: 1px solid #dcdcdc;
			height: 34px;
			color: #222222;
			background-color: white;
			width: 60px;
			border-radius: 4px;
			font-size: 0.7rem;

		}

		.bi-bookmark, .bi-heart{
			font-size: 35px;
			color: #bdbdbd;
		}

		.bi-bookmark:hover ,.bi-heart:hover {
			color: #ffb6c1; 
		}

		.profile_icon{
			display: inline-block;
			color: gray;
			font-size: 0.75rem;
			font-weight: bold;
			margin-bottom: 10px;
			margin-right: 20px;
			margin-left: 20px;
		}

		.my_homestroy{
			margin-top: 30px;
			margin-bottom: 25px;
			margin-left: 10px;
			display: inline-block;
			width: 180px;
			height: 180px;
			background-color: white;
			border: none;
			border-radius: 9px;
		}

		.my_homestroy_img{
			width: 160px;
			height: 160px;
			object-fit:cover;
			margin:25px;
			border-radius:15px;
		}


		#mystory_btn button{
			background-color: white;
     		color: #6e6e6e;
	    	border: 1px solid #dcdcdc;
			height: 50px;
			max-width: 200px;
			border-radius: 4px;
			font-size: 0.8rem;
			font-weight: 600;
			margin-bottom: 25px;
			margin-left: 10px;
			padding: 10px 15px;
		}

		#mystory_btn button:hover ,#profile_btn button:hover {
		 	background-color: #fffafa;
   		 	
		}

		#mypage_profile_box hr{
			margin: auto;
			width: 90%;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		
		
		.icon-pointer{
			cursor:pointer;
		}
		
		.no{
			text-align:center;
			font-weight:bolder;
			font-size:large;
			margin-top:60px;
		}
		
		.no_story{
			height:130px;
		}
		
		.no_story button{
			margin-top:48px;
			border:none;
			height:60px;
			color:#222222;
			background-color:white;
			font-size:0.9rem;
			font-weight:bold;
		}
		
		/*AllStory CSS*/
		
		.all_homestroy_img{
			width:280px;
			height:280px;
			object-fit:cover;
			border-radius:15px;
			
			
		}
	
		#myStoryDiv{
			margin:30px;	
			display:inline-block;
		}
		
	
		#clear{
			clear : both;
		}
		
		#myStoryDiv a {
			text-decoration:none;
			color:#212529;
		}
		
		#myStoryDiv img{
			margin-bottom:10px;
		}
		
		#myStoryDiv span{
			margin-left:5px;
			font-size:16px;
			font-weight:bold;
		}
		
		#myStoryDiv span:hover{
			color:#dcdcdc;
		}
		
		
		/*페이징*/
		.paging{
			margin-top:70px;
			text-align:center;
		}
		
		.list-paginator>li{
			display : inline-block;
			vertical-align : bottom;
		}
		.list-paginator_page, .list-paginator_last, .list-paginator_first{
			display: none;
		    min-width: 26px;
		    margin: 0 2px;
		    padding: 5.5px 5px;
		    box-sizing: border-box;
		    border: none;
		    background-color: transparent;
		    border-radius: 100px;
		    font-family: inherit;
		    font-size: 0.8rem;
		    font-weight: bold;
		    line-height: 1;
		    color: #ffb6c1;
		    transition: background-color .1s,color .1s;
		    text-decoration : none;
		}
		.list-paginator_page.sm, .list-paginator_next, .list-paginator_prev, .list-paginator_last, .list-paginator_first{
			display : block;
		}
		.list-paginator_page.selected{
			background-color : #ffb6c1;
			color : white;
			text-decoration : none;
		}
		
		.list-paginator_page:hover, .list-paginator_last:hover, .list-paginator_first:hover{
			color:#dcdcdc;	
		}
		
		/*미디어쿼리*/
		@media screen and (min-width: 1400px){
			#headerDiv, .navbar, section, footer{
				width: 80%;
			}
			#searchInput{
				width: 90%;
			}
			#spaceDiv{
				display: none;
			}
			
			
			#myStoryDiv{
			margin:15px;	
			display:inline-block;
			}
		
			
			
		}
		@media screen and (min-width: 1200px) and (max-width: 1427px){
			#headerDiv, .navbar, section, footer{
				width: 85%;
			}
			#searchInput{
				width: 90%;
			}
			#spaceDiv{
				display: none;
			}

			#mystory4{
				display: none; 
			}
			
			.all_homestroy_img{
			width:250px;
			height:250px;
			}
			

		}
		@media screen and (min-width: 992px) and (max-width: 1199.99px){
			#headerDiv, .navbar, section, footer{
				width: 90%;
			}
			#searchInput{
				width: 90%;
			}

			#spaceDiv, .hiddenStory, .hiddenShop{
				display: none;
			}

			#spaceDiv{
				display: none;
			}

			.categoryDiv{
				font-size: 15px;
				width: 80%;
				margin-left: 20px;
			}

			#mystory4{
				display: none;
			}
			
			
			.all_homestroy_img{
			width:270px;
			height:180px;
			}
			
			
			#myStoryDiv{
			margin:15px;	
			}
		
				
		}
		
		@media screen and (min-width: 768px) and (max-width: 991.99px){
			#headerDiv, .navbar, section, footer{
				width: 95%;
			}
			#searchInput{
				width: 89%;
			}
			#spaceDiv, .hiddenStory, .hiddenShop{
				display: none;
			}
			.categoryDiv{
				font-size: 12px;
				width: 90%;
				margin-left: 0px;
			}
			.categoryUl{
				padding: 15px 0px 15px 10px;
			}
		

			#mystory4{
				display: none;
			}

			#profile_id{
				text-align: left;
			}

			.delivery-icons{
				font-size: 65px;
			}
			
			#AllstoryDiv{
				margin-left:4%;
			}
			
			
			.all_homestroy_img{
				width:660px;
				height:440px;
			
			}
			
		}

		@media screen and (min-width: 576px) and (max-width: 767.99px){
			#headerDiv, .navbar, section, footer{
				width: 98%;
			}
			#searchFrm{
				width: 55%;
			}
			#mypage, #delivery, #basket, #viewList, #menuLogin, #menuJoin, #spaceDiv{
				display: none;
			}
			#menuComm{
				border-right: 1px solid lightgray;
			}
			#smallMenu{
				display: inline-block;
			}
			
			.categoryDiv{
				font-size: 10px;
				width: 95%;
				margin-left: 0px;
			}
			.sidebar_menu{
				width: 400px;
			}

			#mystory3,#mystory4{
				display: none;
			}

			.delivery-icons{
				font-size: 50px;
			}


			#profile_id{
				text-align: center;
				
			}

			#mypage_profile_box hr{
				display: none; 
			}

			#profile_image img{
			width: 130px;
			height: 130px;
			border-radius: 100px;
			object-fit:cover
			}
			
			.all_homestroy_img{
				width:500px;
			
			}

		}
		@media screen and (max-width: 575.99px){
			#headerDiv, .navbar, section, footer{
				width: 98%;
			}
			#searchFrm, #mypage, #delivery, #basket, #viewList, #mainNavbar{
				display: none;
			}
			#smallMenu{
				display: inline-block;
			}
			.sidebar_menu{
				width: 100%;
				max-width: 400px;
			}

			#mystory3,#mystory4{
				display: none;
			}


			#profile_id{
				text-align: center;
			}

			#mypage_profile_box hr{
				display: none;
			}

			.delivery-icons{
				font-size: 50px;
			}

			.delivery{
			font-size: 0.9rem;
			}
			
			nav{ 
				display:none;
			}
			section{
				border-top: 3px solid #ffb6c1; 
			}
			
			.my_homestroy_img{
				width:150px;
				height:150px;
				margin:2px;
			}
			
			.all_homestroy_img{
				width:380px;
			
			}
			

		}
		
		
		