@charset "UTF-8";

		#mypage_profile_box{
			border: 2px solid #ffb6c1;
			width: 95%;
			float: none; 
			margin:0 auto; 
		}

		.mydiv2{
			margin-top: 30px;

		}


		#mydiv2-1, #mydiv2-2{
			width: 95%;
			margin:0 auto;
			border: 2px solid #ffb6c1;
			float: none; 
			max-width: 1000px;
			text-align: center;
			margin-top: 10px;
			
		}

		#mydiv2-1{
			margin-bottom: 30px;
		}

		#mydiv2-2{
			margin-bottom: 60px;
		}

		.mydiv1{
			margin-top: 64px;
			text-align: center;
		}


		.delivery{
			display: inline-block;
			float: none; 
			color: gray;
			font-size: 1.1rem;
			font-weight: bold;
			margin-top: 15px;
			margin-bottom: 15px;
		}

		.delivery strong{
			font-size: 1.5rem;
			color: #6e6e6e;

			
		}

		.delivery-icons{
			text-decoration: none;
			color: #ffb6c1;
			font-size: 100px;
		}
		
		.delivery-icons:hover{ 
			color: lavender;

		}

		.mydivtitle{
			width: 95%;
			margin:0 auto;
			float: none; 
			color: gray;
			font-size: 1.1rem;
			font-weight: bold;
		}

		#profile_image img{
			margin: 20px;
			width: 120px;
			height: 120px;
			border-radius: 100px;
			object-fit:cover
		}

		#profile_name{
			color: #222222;
			font-size: 1.7rem;
			font-weight: bold;
			margin-bottom: 10px;
			margin-top: 10px;

		}

		#profile_follow{
			color: gray;
			font-size: 0.75rem;
			font-weight: bold;
			margin-bottom: 10px;
		}

		#profile_follow strong, .profile_icon strong{
			font-size: 0.85rem;
			color: #222222;
		}

		#profile_btn button{
			border: 1px solid #dcdcdc;
			height: 34px;
			color: #222222;
			background-color: white;
			width: 60px;
			border-radius: 4px;
			font-size: 0.7rem;

		}

		.bi-bookmark, .bi-heart{
			font-size: 35px;
			color: #bdbdbd;
		}

		.bi-bookmark:hover ,.bi-heart:hover {
			color: #ffb6c1; 
		}

		.profile_icon{
			display: inline-block;
			color: gray;
			font-size: 0.75rem;
			font-weight: bold;
			margin-bottom: 10px;
			margin-right: 20px;
			margin-left: 20px;
		}

		.my_homestroy{
			margin-top: 30px;
			margin-bottom: 25px;
			margin-left: 10px;
			display: inline-block;
			width: 180px;
			height: 180px;
			background-color: #f5f5f5;
			border: none;
			border-radius: 9px;
		}

		.my_homestroy_img{
			width: 200px;
			height: 200px;
			object-fit:cover;
			
		}


		#mystory_btn button{
			background-color: white;
     		color: #6e6e6e;
	    	border: 1px solid #dcdcdc;
			height: 50px;
			max-width: 200px;
			border-radius: 4px;
			font-size: 0.8rem;
			font-weight: 600;
			margin-bottom: 25px;
			margin-left: 10px;
			padding: 10px 15px;
		}

		#mystory_btn button:hover ,#profile_btn button:hover {
		 	background-color: lavender;
   		 	
		}

		#mypage_profile_box hr{
			margin: auto;
			width: 90%;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		
		
		.icon-pointer{
			cursor:pointer;
		}
		
		/*미디어쿼리*/
		@media screen and (min-width: 1400px){
			#headerDiv,.navbar{
				width: 80%;
			}
			#searchInput{
				width: 90%;
			}
			#spaceDiv{
				display: none;
			}
			
		}
		@media screen and (min-width: 1200px) and (max-width: 1427px){
			#headerDiv,.navbar, section, footer{
				width: 85%;
			}
			#searchInput{
				width: 90%;
			}
			#spaceDiv{
				display: none;
			}

			#mystory4{
				display: none; 
			}

		}
		@media screen and (min-width: 992px) and (max-width: 1199.99px){
			#headerDiv, .navbar, section, footer{
				width: 90%;
			}
			#searchInput{
				width: 90%;
			}

			#spaceDiv, .hiddenStory, .hiddenShop{
				display: none;
			}

			#spaceDiv{
				display: none;
			}

			.categoryDiv{
				font-size: 15px;
				width: 80%;
				margin-left: 20px;
			}

			#mystory4{
				display: none;
			}
		}
		@media screen and (min-width: 768px) and (max-width: 991.99px){
			#headerDiv, .navbar, section, footer{
				width: 95%;
			}
			#searchInput{
				width: 89%;
			}
			#spaceDiv, .hiddenStory, .hiddenShop{
				display: none;
			}
			.categoryDiv{
				font-size: 12px;
				width: 90%;
				margin-left: 0px;
			}
			.categoryUl{
				padding: 15px 0px 15px 10px;
			}
		

			#mystory4{
				display: none;
			}

			#profile_id{
				text-align: left;
			}

			.delivery-icons{
				font-size: 65px;
			}
			
		}

		@media screen and (min-width: 576px) and (max-width: 767.99px){
			#headerDiv, .navbar, section, footer{
				width: 98%;
			}
			#searchFrm{
				width: 55%;
			}
			#mypage, #delivery, #basket, #viewList, #menuLogin, #menuJoin, #spaceDiv{
				display: none;
			}
			#menuComm{
				border-right: 1px solid lightgray;
			}
			#smallMenu{
				display: inline-block;
			}
			
			.categoryDiv{
				font-size: 10px;
				width: 95%;
				margin-left: 0px;
			}
			.sidebar_menu{
				width: 400px;
			}

			#mystory3,#mystory4{
				display: none;
			}

			.delivery-icons{
				font-size: 50px;
			}


			#profile_id{
				text-align: center;
				
			}

			#mypage_profile_box hr{
				display: none; 
			}

			#profile_image img{
			width: 130px;
			height: 130px;
			border-radius: 100px;
			object-fit:cover
			}


		}
		@media screen and (max-width: 575.99px){
			#headerDiv, .navbar, section, footer{
				width: 98%;
			}
			#searchFrm, #mypage, #delivery, #basket, #viewList, #mainNavbar{
				display: none;
			}
			#smallMenu{
				display: inline-block;
			}
			.sidebar_menu{
				width: 100%;
				max-width: 400px;
			}

			#mystory3,#mystory4{
				display: none;
			}


			#profile_id{
				text-align: center;
			}

			#mypage_profile_box hr{
				display: none;
			}

			.delivery-icons{
				font-size: 50px;
			}

			.delivery{
			font-size: 0.9rem;
			}
			
			nav{ 
				display:none;
			}
			section{
				border-top: 3px solid #ffb6c1; 
			}

		}
		
		
		