@charset "UTF-8";
  
  /*핑크:#ffb6c1; #f2b2b8; 
  	회색:#424242;
  */
  
		section{
			margin: auto;
			max-width: 1560px;
			color:#222222;
			font-size: 1.2rem;
			font-weight: 600;
		}
		
		a{
			text-decoration:none;
			color:inherit;
		}

		.odrNdelBox a:hover{
			color:inherit;
		}
		
		.odrNdelBox img{
			width:115px;
			height:115px;
			object-fit: cover;
		}
		
		/*위에 있는 박스*/
		.pinkNum{
			color: #f2b2b8;
		}
		
		#OList1{
			margin-top:25px;
			border: 1px solid #dcdcdc;
			border-radius: 0.25rem;
			padding:2%;
			height:200px;
			text-align:center;
			position: relative;
			
		}
		
		#OList2{
			margin-top:45px;
			margin-bottom:45px;
			min-height:600px;
			border: 1px solid #dcdcdc;
			border-radius: 0.25rem;
			padding:2%;
		
		}
		
		.sbox {
			display:inline-block;
		}
		
		.direction{
			font-size:30px;
			color:#424242;
			margin:auto;
			height:100%;
			vertical-align: middle;
		}
		
		.state{
			width:20%;
			padding:2%;
			max-width: 350px;
			font-weight:800;
			
		}
	
		/* #payOk{
			margin-left:60px;
		}
		 */
		.listIcon{
			font-size:35px;
			color:#424242;
		}
	
	
		.selectgood{
			text-align:center;
			width:110px;
			height:40px;
			background-color:#f5f5f5;
			border:none;
			border-radius:10px;
			color:#757575;
			font-size:0.9rem;
			font-weight:700;
		}
		
		.selectgood option{
			height:40px;
			border-radius:10px;
		}
		
		/*주문배송조회*/
		.product{
			margin:2%;
		}
		
		.buyDate{
			font-size:1rem;
		}
		
		.goDatail{
			text-align:right;
			font-size:0.8rem;
			margin-bottom:20px;
		}
		
		.delState{
			margin-top:1.8%;
			padding-top:20px; 
			font-size:0.9rem;
			color:#757575;
			text-align:center;
			background-color:#f5f5f5;
			border:none;
			border-radius:10px;
			height:60px;
		}
		
		#goDetail, .detailIcon{
			text-decoration:none;
			color:#222222;
			font-size:0.8rem;
		}
		
		/*주문배송조회 내용들*/
		
		.odrNdelBox{
			display:flex;
			align-items: center; /*수직정렬*/
			
		}
		
		.productPic{
			text-align:center;
			
		}
		
		.productInfo{ 
			text-align:center;
			font-size:1.1rem;
			font-weight:700;
			
		}
		
		.producSpan{
			color: #f2b2b8;
			font-size:1.1rem;
		}
		
		.productBtn{
			text-align:center;
		}
		
		#delTrack{
			border-radius : 8px;
			width : 55%;
			height : 45px;
			font-size : 1.1rem;
			font-weight : bold;
			background-color : white;
			color : #ffb6c1;
			border : 2px solid #ffb6c1;
			margin-bottom:1.5%;
		
		}
		
		#delTrack:hover{
			background-color : #fffafa;
		
			/* background-color : #ffb6c1;
			color : white;
			border:none; */
		}
		
		
		#goReview{
			border-radius : 8px;
			width : 55%;
			height : 45px;
			font-size : 1.1rem;
			font-weight : bold;
			background-color : #ffb6c1;
			color : white;
			border : none;
		}
		
		
		#goReview:hover{
			background-color : #ff8da1;
			/* background-color : white;
			color : #ffb6c1;
			border: 2px solid #ffb6c1; */
		}
		
		
		
	
	
		/* 미디어 쿼리  CSS */
   		/*========================================================================*/
   		/*========================================================================*/
   		/*========================================================================*/
		@media screen and (min-width: 1400px){
			#headerDiv,.navbar{
				width: 80%;
			}
			
			#searchInput{
				width: 90%;
			}
			#spaceDiv{
				display: none;
			}
			
		}
		@media screen and (min-width: 1200px) and (max-width: 1399.99px){
			#headerDiv,.navbar, section, footer{
				width: 85%;
			}
			#searchInput{
				width: 90%;
			}
			#spaceDiv{
				display: none;
			}

			
		}
		@media screen and (min-width: 992px) and (max-width: 1199.99px){
			#headerDiv, .navbar,section, footer{
				width: 90%;
			}
			
			
			#searchInput{
				width: 90%;
			}

			#spaceDiv, .hiddenStory, .hiddenShop{
				display: none;
			}

			#spaceDiv{
				display: none;
			}

			.categoryDiv{
				font-size: 15px;
				width: 80%;
				margin-left: 20px;
			}
			/* 
			본문
			#delTrack{
				font-size:1.1rem;
			}
			#goReview{
				font-size:1.1rem;
			} */
			
			
		}
		@media screen and (min-width: 768px) and (max-width: 991.99px){
			#headerDiv, .navbar, section, footer{
				width: 95%;
			}
			#searchInput{
				width: 89%;
			}
			
			#spaceDiv, .hiddenStory, .hiddenShop{
				display: none;
			} 
			.categoryDiv{
				font-size: 12px;
				width: 90%;
				margin-left: 0px;
			}
			.categoryUl{
				padding: 15px 0px 15px 10px;
			}
			
			
			/*본문*/
			#delTrack{
				margin-top:2%;
				width:49%;
				/* font-size:1rem; */
			}
			#goReview{
				width:49%;
				/* font-size:1rem; */
			}
			
		
		}
		@media screen and (min-width: 576px) and (max-width: 767.99px){
			#headerDiv, .navbar, section, footer{
				width: 98%;
			}
			#searchFrm{
				width: 55%;
			}
			
			#searchFrm{
				width: 55%;
			}
			#mypage, #delivery, #basket, #viewList, #menuLogin, #menuJoin, #spaceDiv{
				display: none;
			}
			#menuComm{
				border-right: 1px solid lightgray;
			}
			#smallMenu{
				display: inline-block;
			}
			
			.categoryDiv{
				font-size: 10px;
				width: 95%;
				margin-left: 0px;
			}
			.sidebar_menu{
				width: 400px;
			}
			
			/* 본문 css */
			.state{
				width:18%;
				font-size:0.8rem;
				font-weight:1000;
			}	
			
			
			.listIcon{
				font-size:35px;
				color:#424242;
			}
			
			#OList1{
				height:150px;
			}
			
			.direction{
				font-size:20px;
			}
			
			#delTrack{
				margin-top:2%;
				width:48%;
				/* font-size:1rem; */
			}
			#goReview{
				width:48%;
				/* font-size:1rem; */
			}
			
			.productPic img{
				width:85px;
				height:85px;
			}
			
			.productInfo, .producSpan{
				font-size:1rem;
				/* text-align:left; */
				font-weight:900;
			}
			
			
		}
		
		
		@media screen and (max-width: 575.99px){
			#headerDiv, .navbar, footer{
				width: 98%;
			}
			
			section{
				width:100%;
			}
			
			#searchFrm, #mypage, #delivery, #basket, #viewList, #mainNavbar{
				display: none;
			}
			
			#smallMenu{
				display: inline-block;
			}
			
			.sidebar_menu{
				width: 400px;
			}
			
			.member_modiv{
				border: none;
			}

   			nav{ 
				display:none;
			}
			section{
			
				border-top: 3px solid #ffb6c1; 
			}
			
			/* 본문 css */
			.state{
				width:16%;
				font-size:11px;
				font-weight:bold;
			}	
			
			
			.listIcon{
				font-size:30px;
				color:#424242;
			}
			
			#OList1{
				height:120px;
			}
			
			.direction{
				font-size:15px;
			
			}
			
			.odrNdelBox img{
				width:85px;
				height:85px;
				object-fit: cover;
			}
			
			.productInfo {
				font-size:0.93rem;
				font-weight:1200;	
			}
			
			#delTrack{
				margin-top:3%;
				width:45%;
			}
			
			#goReview{
				width:45%;
			}
			
			

		} 
