@charset "UTF-8";
/* 본문 CSS */
section{
	margin: auto;
	max-width: 1560px;
}
.follow_area{
	margin-left : auto;
	margin-right : auto;
}
.followingTitle{
	text-align: center;
	margin-bottom: 20px;
}
.bold{
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
	display: inline-block;
}
.followingUser{
	margin : auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 30px;
	padding-left: 30px;
	height: auto;
}
.recommend{
	text-align : center;
	font-size : 24px;
	font-weight : bold;
	margin : 30px 0;
}
.followingUsers{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 30px;
	padding-left: 30px;
	height: auto;
}
.followingTextArea, .followingImgArea{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;

}
.followingTextArea{
	height: 62px;
}
.followingButtonArea{
	padding: 0px;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}
.profile{
	padding-left: 12px;
	margin-top: auto;
	margin-bottom: auto;
}
.userName{
	font-size: 13px;			
	margin-top: auto;
	margin-bottom: auto;
	color: gray;
}
.nick{
	font-size: 15px;
	font-weight: bold;
	color: black;
	margin-right: 10px;
	cursor: pointer;
}
.hashtag{
	color: blue;
}
.profileImg{
	height: 60px;
	width: 60px;
	border-radius: 50px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}
.followingButtonArea{
	text-align: right;
}
.followingButton, .followingButton1{
	height: 35px;
	width: 80px;
	font-size: 16px;
	font-weight: bold;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border: 2px solid #ffb6c1;
	border-radius: 5px;
	background-color: #ffb6c1;
	color: white;	
}
.followingButton:hover{
	background-color: white;
	color: #ffb6c1;
}
.followingImgArea{
	text-align: center;
}
.followingImgDiv{
	padding-left: 7px;
	padding-right: 7px;
	cursor : pointer;
}
.followingImg{
	width: 100%;
	height: auto;
	border-radius: 5px;
	cursor: pointer;
}
.community{
	margin : auto;
}
.nick{
	margin-left : 10px;
	display : inline-block;
}
.com_title{
	font-size : 28px;
	font-weight : 900;
	margin-left : 5px;
	margin-top : 10px;
	margin-bottom : 10px;
}
.com_content{
	margin-top : 10px;
	margin-bottom : 60px;
	cursor : pointer;
}
.followingButton1{
	clear : both;
	float : right;
	margin-top : 12px;
}



/* 미디어 쿼리  CSS */
/*========================================================================*/
@media screen and (min-width: 1400px){
	#headerDiv, .navbar, section, footer{
		width: 80%;
	}
	#searchInput{
		width: 90%;
	}
	#spaceDiv{
		display: none;
	}
	.followingImg{
		height : 120px;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1399.99px){
	#headerDiv, .navbar, section, footer{
		width: 85%;
	}
	#searchInput{
		width: 90%;
	}
	#spaceDiv{
		display: none;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199.99px){
	#headerDiv, .navbar, section, footer{
		width: 90%;
	}
	#searchInput{
		width: 90%;
	}
	#spaceDiv, .hiddenStory, .hiddenShop{
		display: none;
	}
	.categoryDiv{
		font-size: 15px;
		width: 80%;
		margin-left: 20px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991.99px){
	#headerDiv, .navbar, section, footer{
		width: 95%;
	}
	#searchInput{
		width: 89%;
	}
	#spaceDiv, .hiddenStory, .hiddenShop{
		display: none;
	}
	.categoryDiv{
		font-size: 12px;
		width: 90%;
		margin-left: 0px;
	}
	.categoryUl{
		padding: 15px 0px 15px 10px;
	}
	#findFrm{	
		width: 500px;
	}
	.head{
		width: 160px;
		font-size: 15px;
	}
	.foot{
		margin-left: 170px;			
	}
}
@media screen and (min-width: 576px) and (max-width: 767.99px){
	#headerDiv, .navbar, section, footer{
		width: 98%;
	}
	#searchFrm{
		width: 55%;
	}
	#mypage, #delivery, #basket, #viewList, #menuLogin, #menuJoin, #spaceDiv{
		display: none;
	}
	#menuComm{
		border-right: 1px solid lightgray;
	}
	#smallMenu{
		display: inline-block;
	}
	.categoryDiv{
		font-size: 10px;
		width: 95%;
		margin-left: 0px;
	}
	.sidebar_menu{
		width: 400px;
	}
	#findFrm{	
		width: 400px;
	}
	.head{
		width: 130px;
		font-size: 14px;
		height: 26px;
	}
	.input{
		width: 255px;
		font-size: 13px;
	}
	.foot{
		margin-left: 140px;
		font-size: 12px;		
	}
	#birth1{
		margin-left: 15px;
	}
	.birthArea{
		font-size: 14px;
	}
	.birth{
		font-size: 13px;
	}
}
@media screen and (max-width: 575.99px){
	#headerDiv, .navbar, section, footer{
		width: 98%;
	}
	#searchFrm, #mypage, #delivery, #basket, #viewList, #mainNavbar{
		display: none;
	}
	#smallMenu{
		display: inline-block;
	}
	.sidebar_menu{
		width: 100%;
		max-width: 400px;
	}
	#findFrm{
		width: 300px;
		margin-top: 0px;
	}
	.head{
		font-size: 13px;
		width: 100px;
		height: 26px;
	}
	.input{
		width: 185px;
		font-size: 12px;
	}
	.foot{
		margin-left: 100px;
		font-size: 10px;
		display: block;
	}
	#birth1{
		margin-left: 0px;
		width: 50px;
	}
	.birthArea{
		font-size: 13px;
	}
	.birth{
		font-size: 12px;
		width: 30px;
	}
}