body, section{
	min-width : 460px;
}
body{
	overflow-x : hidden;
}
.MainImg{
	overflow : hidden;
	max-height : 800px;
}
.MainImg img{
	max-height: initial;
	width : 100%;
	margin-top : -20%;
}
section{
	max-width : 1560px;
	margin : auto;
}
.comm_area{
	margin-left : auto;
	margin-right : auto;
	margin-top : 50px;
	padding : 0;
}
.comm_area_{
	margin : auto;
}
.comm_category{
	color : gray;
	font-weight : 500;
}
.comm_title{
	margin-top : 10px;
	font-size : 30px;
	font-weight : bold;
}
.storyWriter{
	margin-top : 10px;
}
.profile{
	position : relative;
	display : inline-block;
	font-size : 12px;
	padding-left : 60px;
	line-height : 21px;
}
.profile_img{
	position : absolute;
	display : block;
	left : 0;
	width : 50px;
	height : 50px;
	
}
.writerImg{
	width : 100%;
	height : 100%;
}
.profile_name{
	font-weight : bold;
}
.writedate{
	color : gray;
	font-weight : 500;
}
.follow_btn{
	margin-top : auto;
	margin-bottom : auto;
	text-align : right;
	padding : 0;
}
.follow_btn button{
	background : #ffb6c1;
	color : white;
	border : none;
	border-radius : 5px;
	font-size : 14px;
	font-weight : bold;
	width : 90px;
	height : 36px;
}
.content_area{
	padding : 0;
	margin-top : 100px;
	margin-left : auto;
	margin-right : auto;
	
}
.content_img{
	margin : auto;
}
.content_img div{
	margin-top : 20px;
	margin-bottom : 10px;
	font-size : 24px;
	font-weight : bold;
}
.content_img img{
	margin-top : 10px;
	margin-bottom : 10px;
}
.btn_area{
	text-align : right;
	margin-left : auto;
	margin-right : auto;
	padding-right : 24px;
}
.btn_area button{
	background : #ffb6c1;
	color : white;
	border : none;
	border-radius : 5px;
	font-size : 14px;
	font-weight : bold;
	width : 90px;
	height : 36px;
}
.content_stats{
	padding : 12px;
	margin : auto;
	margin-top : 50px;
	margin-bottom : 20px;
}
.content_stats div{
	display : inline-block;
	margin-right : 16px;
	padding-left : 12px;
	font-size : 14px;
	color : gray;
	font-weight : bold;
}
#footer_img_{
	text-align : center;
}
#footer_img_ img{
	width : 100%;
}
.footer_profile{
	margin : auto;
	padding :30px 12px;
	border-top : 1px solid #dedede;
	border-bottom : 1px solid #dedede;
	margin-bottom : 20px;
}
.footer_profile_img{
	font-weight : bold;
}
.footer_writerImg{
	border-radius : 100%;
	width : 70px;
	height : 70px;
	margin-right : 15px;
	cursor : pointer;
}
#footer_writerImg_span{
	cursor: pointer;
}
.footer_profile_img button{
	margin-left : 15px;
	border : none;
	background : none;
	color : #ffb6c1;
	font-weight : 900;
}
#reply_area{
	margin : auto;
	margin-top : 40px;
}
.reply_area{
	font-size : 18px;
	font-weight : bold;
}
.reply_area span{
	color : #ffb6c1;
}
#replyFrm, #replyFrm_, .reply_Frm{
	display : flex;
	position : relative;
	height : 70px;
	margin-top : auto;
	margin-bottom : 30px;
	padding : 5px;
}
.reply_Frm{
	margin-top : 25px;
	margin-bottom : 0;
	display : none;
}
.reply_writer{
	width : 50px;
}
.reply_writer img{
	width : 50px;
	height : 50px;
	margin : 5px 10px 0 0;
	border-radius : 100%;
}
.reply_input{
	display : flex;
	position : relative;
	width : 100%;
	height : 50px;
	margin-top : 5px;
	margin-left : 15px;
	border : 1px solid #dbdbdb;
	border-radius : 4px;
}
.reply_input_{
	display : flex;
	position : relative;
	width : 100%;
	height : 50px;
	margin-top : 5px;
	margin-left : 10px;
	border : 1px solid #dbdbdb;
	border-radius : 4px;
}
.reply_content{
	flex : 1 1 0px;
	min-width : 0;
}
.reply_content_input{
	position : relative;
	display : flex;
}
.reply_content_form_text{
   	width: 100%;
    min-height: 48px;
    border: none;
    background: none;
    color: #424242;
    margin: 0;
    padding: 12px 15px 9px;
    font-family: inherit;
    font-size: 15px;
    line-height: 1.4;
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box;
    outline : none;
}
.reply_content_input_text_{
	width : 80%;
	min-height: 48px;
    border: none;
    background: none;
    color: #424242;
    margin: 0;
    padding: 8px 10px 9px;
    font-family: inherit;
    font-size: 15px;
    line-height: 1.4;
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box;
    outline : none;
}
.reply_writer_{
	padding-top : 10px;
	display : inline-block;
	color : #ffb6c1;
	font-weight : 900;
	margin-left : 10px;
	width : 68px;
}
.reply_writer_1{
	width : 75px;
}
.reply_writer_2{
	width : 93px;
}
.reply_action{
	right : 10px;
	width : 60px;
	padding : 12px 11px 12px 4px;
	margin : 0 -7.5px;
	font-size : 0;
}
.reply_submit, .reply_submit_, .Rereply_submit{
	font-size : 15px;
	font-weight : bold;
	margin : 0 7.5px;
	margin-top : auto;
	margin-bottom : auto;
	padding : 0;
	border : none;
	background : none;
	transition : opacity .2s;
	color : #ffb6c1;
}
.reply_list{
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 15px;
    list-style : none;
}
.reply_list li{
	display : list-item;
	text-align: -webkit-match-parent;
}
.reply_list_item{
	margin-bottom : 30px;
	position : relative;
}
.reply{
	clear : both;
	float : left;
	margin-top : 10px;
}
.reply_item{
	padding-left : 40px;
	display : block;
}
.reply_item_{
	padding : 0 0 0 61px;
}
p{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.reply_item_content{
    position: relative;
    margin: -4px 0 4px;
    min-width: 0;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-size: 15px;
    line-height: 1.67;
}
.reply_item_content_writer{
	display : inline;
	margin : 0 10px 0 0;
	line-height : inherit;
	text-decoration : none;
	color : black;
	font-weight : 900;
}
.reply_item_content_writer_image{
	top : 1px;
	position : absolute;
	width : 50px;
	height : 50px;
	left : -70px;
	margin-right : 10px;
	border-radius : 100%;
}
.reply_item_content_content{
	white-space : pre-line;
}
.reply_item_footer{
	width : 100%;
	font-size : 13px;
	font-weight : bold;
	box-sizing : border-box;
	position : relative;
	display : flex;
	padding : 0;
	margin-left : 0;
	margin-right : 0;
	border : none;
}
.reply_item_footer_reply-btn{
	background : none;
	border : none;
	color : inherit;
	padding : 0;
	margin-left : 20px;
	font-weight : bold;
}
.reply_item_footer_reply-btn3{
	display : none;
}
.Re{
	width: 99%;
    min-height: 48px;
    background: none;
    border : 1px solid #dbdbdb;
    border-radius : 4px;
    margin: 0;
    padding: 12px 15px 9px;
    font-family: inherit;
    font-size: 15px;
    line-height: 1.4;
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box;
    outline : none;
}
.mfdel, .mfdel_{
	position : absolute;
	right : 10px;
}
.mfdel button, .mfdel_ button{
	background : none;
	border : none;
	color : #ffb6c1;
	font-weight : bold;
	margin-right : 10px;
}
.list-paginator{
	text-align : center;
}
.list-paginator>li{
	display : inline-block;
	vertical-align : bottom;
}
.list-paginator_page, .list-paginator_next, .list-paginator_prev, .list-paginator_last, .list-paginator_first{
	display: none;
    min-width: 26px;
    margin: 0 2px;
    padding: 5.5px 5px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: #424242;
    transition: background-color .1s,color .1s;
    text-decoration : none;
}
.list-paginator_page.sm, .list-paginator_next, .list-paginator_prev, .list-paginator_last, .list-paginator_first{
	display : block;
}
.list-paginator_page.selected{
	background-color : #ffb6c1;
	color : white;
	text-decoration : none;
}
.slide_bar{
	position : fixed;
	display : none;
	top : 300px;
	right : 200px;
	cursor : pointer;
	color : #ffb6c1;
}
.slide_bar_{
	color : #ffb6c1;
	position : fixed;
	display : none;
	top : 400px;
	right : 200px;
	cursor : pointer;
}
.sideMenu:visited{
	color : #ffb6c1;
}

/* 미디어 쿼리  CSS */
/*========================================================================*/
@media screen and (min-width: 1400px){
	
}
@media screen and (min-width: 1200px) and (max-width: 1399.99px){
	.slide_bar, .slide_bar_{
		right : 100px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199.99px){
	.slide_bar, .slide_bar_{
		right : 50px;
	}
}
@media screen and (min-width: 880.01px) and (max-width: 991.99px){
	.slide_bar, .slide_bar_{
		right : 30px;
	}
}
@media screen and (min-width: 768.01px) and (max-width: 880px){
	.slide_bar, .slide_bar_{
		right : 30px;
	}
	.reply_item{
		margin-bottom : 30px;
	}
}
@media screen and (max-width: 768px){
	.slide_bar, .slide_bar_{
		right : 30px;
	}
}
@media screen and (min-width: 576.01px) and (max-width: 767.99px){
	.slide_bar, .slide_bar_{
		right : 10px;
	}
	
}
@media screen and (max-width: 576px){
	.slide_bar, .slide_bar_{
		right : 10px;
	}
}
@media screen and (max-width: 575.99px){
	.slide_bar, .slide_bar_{
		right : 10px;
	}
}
