@charset "EUC-KR";
.login_wrap{
			text-align: center;
		}

		.login_vacant{
			height: 60px;
		}

		.login_wrap input[type=text], input[type=password]{
			width:60%;
			height:50px;
			color:gray;
			background:white;
			border:1px solid #dcdcdc;
			font-size:medium;
			font-weight:medium;
			border-radius: 0.25rem;
		}

		.login_wrap input[type=text]::placeholder, .login_wrap input[type=password]::placeholder{
			text-align:left;
			font-size:1rem;
			font-weight:500;
			color:#dcdcdc; 
		}

		.login_wrap input[type=submit]{
			margin: 15px;
			width:60%;
			height:50px;
			display: inline-block;
			font-weight: 800;
			color: white;
			text-align: center; 
		 	text-decoration: none;
			vertical-align: middle;
			cursor: pointer;
			background-color: #ffb6c1;
			padding: 0.375rem 0.75rem;
			font-size: 1.2rem;
			border-radius: 0.25rem;
			border: none;
		}

		.login_wrap input[type=submit]:hover,input[type=text]:hover,input[type=password]:hover{
			box-shadow: 0 80px 0 0 rgba(0,0,0,0.012) inset, 0 -80px 0 0 rgba(0,0,0,0.011) inset;
		}
		
		.login_wrap a{
			text-decoration: none;
			color: gray;
		}

		.login_logo{
			margin: 15px;
		}

		.SNS_login{
			font-size: 0.8rem;
			color: gray;
		}


