<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.study.mapper.basketMapper">

	<select id="listPayFromBasket" resultType="BasketVO" parameterType="BasketVO">
		SELECT
			title,
			price,
			cnt,
			delivery_charge,
			free_delivery,
			img_origin,
			img_system,
			spidx,
			brand
		FROM
			shopping_basket
		WHERE
			1 = 1
		AND(
		<foreach item="sbidx" index="index" collection="sbidxArray">
			sbidx = #{sbidx}
		OR		
		</foreach>
			sbidx = 0)
	
    </select>
    
    
    <select id="listBasket" resultType="BasketVO" parameterType="MemberVO">
		SELECT
			sbidx,
			title,
			price,
			cnt,
			delivery_charge,
			free_delivery,
			img_origin,
			img_system,
			spidx,
			brand
		FROM
			shopping_basket
		WHERE
			midx = #{midx}
    </select>
    
    
    <delete id="deleteOneBasket" parameterType="BasketVO">
    	DELETE FROM 
    		shopping_basket 
    	WHERE 
    		sbidx = #{sbidx};
    </delete>
    
    
    <update id="plusCntBasket" parameterType="BasketVO">
    	UPDATE 
    		shopping_basket 
    	SET 
    		cnt = cnt+1
    	WHERE
    		sbidx = #{sbidx}
    </update>
    
    
    <update id="minusCntBasket" parameterType="BasketVO">
    	UPDATE 
    		shopping_basket 
    	SET 
    		cnt = cnt-1
    	WHERE
    		sbidx = #{sbidx}
    </update>
    
   
    
</mapper>