<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.study.mapper.homeMapper">

	<select id="searchStory" resultType="homeStoryVO" parameterType="homeSearchVO">
		SELECT
			cbidx,
			writer,
			title,
			img_system,
			profile_system
		FROM
			community_board c
        INNER JOIN 
        	member m
        ON 
        	c.midx = m.midx
		WHERE
			bdel_yn = "N"
		AND	(
			title like CONCAT("%",#{search_value},"%")
		OR	
			writer like CONCAT("%",#{search_value},"%")
		OR
			content like CONCAT("%",#{search_value},"%")
		);
    </select>
    
    <select id="searchStore" resultType="homeStoreVO" parameterType="homeSearchVO">
		SELECT
			spidx,
			writer,
			title,
			midx,
			img_system,
			brand,
			origin_price,
			sale_price,
			score,
			discount,
			review_cnt
		FROM
			shopping_product
		WHERE
			del_yn = "N"
		AND	(
			title like CONCAT("%",#{search_value},"%")
		OR	
			brand like CONCAT("%",#{search_value},"%")
		OR
			content like CONCAT("%",#{search_value},"%")
		OR
			product_name like CONCAT("%",#{search_value},"%")
		);
    </select>
    
    <insert id="insertSearchList" parameterType="homeSearchVO">
    	INSERT INTO search_list(
    		search_value
    	) VALUES(
    		#{search_value}
    	)
    </insert>
    
    <update id="deleteSearchList">
    	UPDATE 
    		search_list 
    	SET 
    		del_yn = "Y" 
    	WHERE 
    		search_date <![CDATA[<]]> DATE_SUB(NOW(), INTERVAL 1 DAY)
    </update>
    
    <select id="listSearchList" resultType="HomeSearchVO">
    	SELECT 
    		  count(search_value) as cnt
    		, search_value 
    	FROM 
    		search_list 
    	WHERE 
    		del_yn = "N" 
    	GROUP BY 
    		search_value 
    	ORDER BY 
    		cnt desc
    	LIMIT 
    		5
    </select>
    
    
    
</mapper>