<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.study.mapper.homeMapper">

	<select id="searchStory" resultType="homeStoryVO" parameterType="homeSearchVO">
		SELECT
			cbidx,
			writer,
			title,
			midx,
			img_system,
			profile_system
		FROM
			community_board
		WHERE
			del_yn = "N"
		AND
			title like '%'||#{searchValue}||'%'
    </select>
    
</mapper>