<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.study.mapper.mypageMapper">

    <select id="detailMember" resultType="MemberVO" parameterType="int">
		SELECT
			midx,
    		id,
    		nick_name,
    		membername,
    		birthday,
    		gender,
    		phone,
    		join_date,
    		mileage,
    		grade,
    		del_yn,
    		blacklist_yn,
    		follower_cnt,
    		post_code,
    		addr,
    		profile_system
		FROM
			member
		WHERE
			midx = #{midx}
    </select>
    
    <select id="checkPwd" parameterType="MemberVO" resultType="MemberVO">
		SELECT
			midx
		FROM
			member
		WHERE
			midx = #{midx}
		AND
			pass = SHA2(#{pass},512)
    </select>
    
     <update id="updatePwd"  parameterType="MemberVO">
    	UPDATE 
    		member
		SET 
    	   	pass = SHA2(#{pass},512)
		WHERE 
         	midx = #{midx}
    </update>
    
    
    <update id="modifyMember" parameterType="MemberVO">
    	UPDATE member 
    	SET 
    		id = #{id},
    		nick_name = #{nick_name},
    		gender = #{gender},
    		phone = CONCAT(#{phone1},"-",#{phone2},"-",#{phone3}),
    		addr =  CONCAT(#{addr1}," ",#{addr2}), 
    		profile_origin = #{profile_origin}, 
    		profile_system = #{profile_system} 
    		
    	WHERE 
    		midx = #{midx}
    </update>
    
     <update id="deleteMember" parameterType="MemberVO">
    	UPDATE member 
    	SET
    		del_yn = #{del_yn},
    		del_cause = #{del_cause}
    	WHERE 
    		midx = #{midx}
    </update>
    
     <select id="orderList" resultType="OrderListVO" parameterType="OrderListVO">
         SELECT 
         		olidx,
         		title,
         		price,
         		cnt,
         		delivery_charge,
         		img_system,
         		buying_date,
         		progress,
         		delivery_status,
         		review_registration,
         		spidx
           FROM 
           		order_list
          WHERE 
          		midx = #{midx}
          ORDER BY buying_date DESC
          
    </select>
    
      <select id="delState" resultType="OrderListVO" parameterType="OrderListVO">
         SELECT 
         		olidx,
         		title,
         		price,
         		cnt,
         		delivery_charge,
         		img_system,
         		buying_date,
         		progress,
         		delivery_status,
         		review_registration,
         		spidx
           FROM 
           		order_list
          WHERE 
          		midx = #{midx}
          	
          	<if test="progress.equals('default')">
            	AND 
            		1 = 1 
            </if>
            <if test="progress.equals('pay')">
            	AND 
            		progress = "결제완료"
            </if>
             <if test="progress.equals('ready')">
            	AND 
            		progress = "배송준비중"
            </if>
             <if test="progress.equals('ing')">
            	AND 
            		progress = "배송중"
            </if>
             <if test="progress.equals('complete')">
            	AND 
            		progress = "배송완료"
            </if>
          ORDER BY 
          		buying_date DESC
    </select>
  
  
      
    <select id="comcount" resultType="int" parameterType="OrderListVO">
    	SELECT
    			count(*)
    	FROM
    			order_list 
    	WHERE
    			progress = #{progress}
    	AND
    			midx = #{midx}
    			
    </select>
    
    <select id = "viewStory" resultType="Community_BoardVO" parameterType="Community_BoardVO">
    	SELECT
    			cbidx,
    			img_system,
    			title
    	FROM
    			community_board
    	WHERE
    			midx = #{midx}
    	AND
    			del_yn = "N"
    	AND
    			img_origin is not null
    	ORDER BY
    			cbidx DESC
    </select>
    
</mapper>