<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.study.mapper.storeMapper">

	<select id="listStore" resultType="StoreVO" parameterType="SearchVO">
         SELECT *
           FROM shopping_product
          WHERE 1=1
            AND del_yn = 'N' 
            <if test="searchType != null and searchType.equals('subject')">
            	AND subject like '%'||#{searchValue}||'%'
            </if>
            <if test="searchType != null and searchType.equals('writer')">
            	AND writer like '%'||#{searchValue}||'%'
            </if>
            <if test="category != null">
           		AND category = #{category}
           	</if>
           	<if test="detail != null">
           		AND detail = #{detail}
           	</if>
            
            <!-- 정렬방식 -->
           	<if test="sell_cnt != null and sell_cnt == 'yes'">
           		ORDER BY sell_cnt DESC
           	</if>
           	<if test="review_cnt != null and review_cnt == 'yes'">
           		ORDER BY review_cnt DESC
           	</if>
           	<if test="discount != null and discount == 'yes'">
           		ORDER BY discount DESC
           	</if>
           	
    </select>
	
	<select id="detailStore" resultType="StoreVO" parameterType="int">
		<!-- <![CDATA[...]] 쿼리문의 >,< 등을 구분해주기 위해-->
		<![CDATA[
			SELECT 
				  *
			FROM shopping_product
			WHERE spidx = #{spidx}
		]]>
	</select>
    
    <insert id="insertStore" parameterType="StoreVO">
	    <![CDATA[
	    	INSERT INTO shopping_product(
	    		img_origin,
	    		title,
	    		product_Name,
	    		content,
	    		writer,
	    		origin_price,
	    		sale_price,
	    		discount,
	    		brand,
	    		free_delivery,
	    		category,
	    		detail,
	    		midx
	    	) VALUES(
	    		#{img_origin},
	    		#{title},
	    		#{product_name},
	    		#{content},
	    		#{writer},
	    		#{origin_price},
	    		#{sale_price},
	    		#{discount},
	    		#{brand},
	    		#{free_delivery},
	    		#{category},
	    		#{detail},
	    		#{midx}
	    	)
	    ]]>
	    <selectKey resultType="integer" keyProperty="bidx" order="AFTER">
	    	SELECT MAX(spidx)
	    	  FROM shopping_product
	    </selectKey>
    </insert>
    
    <insert id="basketIn" parameterType="BasketVO">
    	 <![CDATA[
	    	INSERT INTO shopping_basket(
	    		title,
	    		price,
	    		cnt,
	    		delivery_charge,
	    		free_delivery,
	    		img_origin,
	    		spidx,
	    		midx
	    	) VALUES(
	    		#{title},
	    		#{price},
	    		#{cnt},
	    		#{delivery_charge},
	    		#{free_delivery},
	    		#{img_origin},
	    		#{spidx},
	    		#{midx}
	    	)
	    ]]>
    </insert>
    
    
    
</mapper>