<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.study.mapper.storeMapper">

	<select id="listStore" resultType="StoreVO" parameterType="SearchVO">
         SELECT *
           FROM shopping_product
          WHERE 1=1
            AND del_yn = 'N' 
            <if test="searchType != null and searchType.equals('subject')">
            	AND subject like '%'||#{searchValue}||'%' 
            </if>
            <if test="searchType != null and searchType.equals('writer')">
            	AND writer like '%'||#{searchValue}||'%' 
            </if>
            <if test='category != null and category != ""'>
           		AND category = #{category} 
           	</if>
           	<if test='detail != null and detail != ""'>
           		AND detail = #{detail} 
           	</if>
           	<if test='free != null and free != "" and free == "Y"'>
           		AND free_delivery = #{free} 
           	</if>
           	<if test='priceStart != null and priceStart != "" and priceEnd != null'>
           		AND sale_price BETWEEN #{priceStart} AND #{priceEnd} 
            </if>
            <!-- 정렬방식 -->
           	<if test='sell_cnt != null and sell_cnt != "" and sell_cnt.equals("yes")'>
           		ORDER BY sell_cnt DESC 
           	</if>
           	<if test='review_cnt != null and review_cnt != "" and review_cnt.equals("yes")'>
           		ORDER BY review_cnt DESC 
           	</if>
           	<if test='discount != null and discount != "" and discount.equals("yes")'>
           		ORDER BY discount DESC 
           	</if>
           	<if test='order != null and order != "" and order=="sell_cnt"'>
           		ORDER BY sell_cnt DESC 
           	</if>
           	<if test='order != null and order != "" and order=="score"'>
           		ORDER BY score DESC 
           	</if>
           	<if test='order != null and order != "" and order=="priceUp"'>
           		ORDER BY sale_price DESC
           	</if>
           	<if test='order != null and order != "" and order=="priceDown"'>
           		ORDER BY sale_price 
           	</if>
           	
    </select>
	
	<select id="detailStore" resultType="StoreVO" parameterType="int">
		<!-- <![CDATA[...]] 쿼리문의 >,< 등을 구분해주기 위해-->
		<![CDATA[
			SELECT 
				  *
			FROM shopping_product
			WHERE spidx = #{spidx}
		]]>
	</select>
    
    <insert id="insertStore" parameterType="StoreVO">
	    <![CDATA[
	    	INSERT INTO shopping_product(
	    		img_origin,
	    		img_system,
	    		title,
	    		product_Name,
	    		content,
	    		writer,
	    		origin_price,
	    		sale_price,
	    		discount,
	    		brand,
	    		free_delivery,
	    		delivery_charge,
	    		category,
	    		detail,
	    		midx
	    	) VALUES(
	    		#{img_origin},
	    		#{img_system},
	    		#{title},
	    		#{product_name},
	    		#{content},
	    		#{writer},
	    		#{origin_price},
	    		#{sale_price},
	    		#{discount},
	    		#{brand},
	    		#{free_delivery},
	    		#{delivery_charge},
	    		#{category},
	    		#{detail},
	    		#{midx}
	    	)
	    ]]>
	    <selectKey resultType="integer" keyProperty="spidx" order="AFTER">
	    	SELECT MAX(spidx)
	    	  FROM shopping_product
	    </selectKey>
    </insert>
    
    <update id="updateStore" parameterType="StoreVO">
	    <![CDATA[
	    	UPDATE shopping_product
	    	   SET title = #{title}
	    	      ,product_name = #{product_name}
	    		  ,content = #{content}
	    		  ,img_origin = #{img_origin}
	    		  ,img_system = #{img_system}
	    		  ,writer = #{writer}
	    		  ,origin_price = #{origin_price}
	    		  ,sale_price = #{sale_price}
	    		  ,discount = #{discount}
	    		  ,brand =#{brand}
	    		  ,free_delivery = #{free_delivery}
	    		  ,delivery_charge = #{delivery_charge}
	    		  ,category = #{category}
	    		  ,detail = #{detail}
	    		  ,midx = #{midx}
	    		  ,modify_yn = 'Y'
	    		  ,modify_date = CURRENT_TIMESTAMP
	         WHERE spidx = #{spidx}
          ]]>
    </update>
    
    <update id="deleteStore" parameterType="int">
	    <![CDATA[
	    	UPDATE shopping_product
	    	   SET del_yn = 'Y'
	    	   	  ,del_date = CURRENT_TIMESTAMP
	         WHERE spidx = #{spidx}
          ]]>
    </update>
    
    <insert id="basketIn" parameterType="BasketVO">
    	 <![CDATA[
	    	INSERT INTO shopping_basket(
	    		title,
	    		price,
	    		cnt,
	    		delivery_charge,
	    		free_delivery,
	    		img_origin,
	    		img_system,
	    		spidx,
	    		midx
	    	) VALUES(
	    		#{title},
	    		#{price},
	    		#{cnt},
	    		#{delivery_charge},
	    		#{free_delivery},
	    		#{img_origin},
	    		#{img_system},
	    		#{spidx},
	    		#{midx}
	    	)
	    ]]>
    </insert>
    
    
    
</mapper>