@charset "UTF-8";
/* 본문 CSS */
section{
	margin: auto;
	max-width: 1560px;
}

.sectionImg{
	width: 70%;
}

.mainCarousel{
	max-width: 1560px;
	height: auto;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

.dropUl{
	display: inline-block;
}

.carButton{
	border: none;
	background: none;
	color: white;
}
#cycle{
	margin-right: 20px;
	display: none;
}
#pause{
	margin-right: 20px;
}

.storyList, .shopList{
	margin-top: 10px;
	margin-bottom: 50px;
}
.storyListTitle, .shopListTitle{
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: bold;
}
.moreview{
   color : #ffb6c1;
   font-size : 18px;
   font-weight : bold;
   float : right;
   cursor : pointer;
}
.clear{
	clear: both;
}
.story, .shop{
	margin-bottom: 25px;
}
.storyImg, .shopImg{
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}
.storyImg{
	height : 27vh;
}
.shopText{
	width: 100%;
	padding: 15px;
	cursor: pointer;
}
.storyText{
	width: 100%;
	padding: 15px;
}
.storyTitle, .storyWriter{
	cursor : pointer;
}
.storyTitle{
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 5px;
}
.storyWriter{
	font-size: 18px;
	font-weight: 100;
}
.writerImg{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	margin-right: 10px;
}

.brand{
	color: gray;
	font-size: 14px;
}
.shopTitle{
	font-size: 16px;
}
.shopPrice{
	font-size: 18px;
	font-weight: bold;
}
.red{
	color: red;
}
.sky{
	color: skyblue;
}
.gray{
	color: gray;
}


/* 미디어 쿼리  CSS */
/*========================================================================*/
@media screen and (min-width: 1400px){
	#headerDiv, .navbar, section, footer{
		width: 80%;
	}
	#searchInput{
		width: 90%;
	}
	#spaceDiv{
		display: none;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1399.99px){
	#headerDiv, .navbar, section, footer{
		width: 85%;
	}
	#searchInput{
		width: 90%;
	}
	#spaceDiv{
		display: none;
	}
	.storyImg{
		height : 25vh;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199.99px){
	#headerDiv, .navbar, section, footer{
		width: 90%;
	}
	#searchInput{
		width: 90%;
	}
	#spaceDiv, .hiddenStory, .hiddenShop{
		display: none;
	}
	.categoryDiv{
		font-size: 15px;
		width: 80%;
		margin-left: 20px;
	}
	#mdlg_display_none, #mdlg_display_none_{
		display: none;
	}
	#storeList4, #storyList4{
		display: none;
	}
}
@media screen and (min-width: 768px) and (max-width: 991.99px){
	#headerDiv, .navbar, section, footer{
		width: 95%;
	}
	#searchInput{
		width: 89%;
	}
	#spaceDiv, .hiddenStory, .hiddenShop{
		display: none;
	}
	.categoryDiv{
		font-size: 12px;
		width: 90%;
		margin-left: 0px;
	}
	.categoryUl{
		padding: 15px 0px 15px 10px;
	}
	#mdlg_display_none, #mdlg_display_none_{
		display: none;
	}
	#storeList4, #storyList4{
		display: none;
	}
}
@media screen and (min-width: 576.01px) and (max-width: 767.99px){
	#headerDiv, .navbar, section, footer{
		width: 98%;
	}
	#searchFrm{
		width: 55%;
	}
	#mypage, #delivery, #basket, #viewList, #menuLogin, #menuJoin, #spaceDiv{
		display: none;
	}
	#menuComm{
		border-right: 1px solid lightgray;
	}
	#smallMenu{
		display: inline-block;
	}
	.categoryDiv{
		font-size: 10px;
		width: 95%;
		margin-left: 0px;
	}
	.sidebar_menu{
		width: 400px;
	}
}
@media screen and (max-width: 576px){
   #spaceDiv{
      display : block;
   }
   #storeList3, #storeList4, #storyList3, #storyList4{
		display: none;
	}
}
@media screen and (max-width: 575.99px){
	#headerDiv, .navbar, section, footer{
		width: 98%;
	}
	#searchFrm, #mypage, #delivery, #basket, #viewList, #mainNavbar{
		display: none;
	}
	#smallMenu{
		display: inline-block;
	}
	.sidebar_menu{
		width: 100%;
		max-width: 400px;
	}
	.storyImg{
		height : 45vh;
	}
	#storeList3, #storeList4, #storyList3, #storyList4{
		display: none;
	}
}