@charset "UTF-8";
nav{
	height: 115px;
	font-weight: bold;
}

#mainNav{
	border-bottom: 3px solid #ffb6c1;
}
#subNav{
	display : none;
}
#subNav2{
	display : none;
}
#mainNavbar{
	height: 60px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	padding: 0px;
	max-width: 1560px;
}
#subNavbar{
	margin : auto;
	max-width : 1560px;
}
#subNavbar2{
	margin : auto;
	max-width : 1560px;
}
.mainMenu{
	text-align: center;
	font-size: 21px;
	color: black;
	cursor: pointer;
}
.subMenu{
	text-align : center;
	font-size : 18px;
	color : black;
	cursor : pointer;
	padding: 3px 0px;
}
.mainMenu:hover{
	color: #ffb6c1;
}
.subMenu:hover{
	color: #ffb6c1;
}
#category{
	text-align : center;
	font-size : 18px;
	color : black;
	cursor : pointer;
	padding: 3px 0px;
}
#categoryLi:hover{
	color: #ffb6c1;
}
#menuLogin{
	border-left: 1px solid lightgray;
}
#menuSearchlist{
	border-left: 1px solid lightgray;
}

.navSpaceLi{
	width: 14%;
	height: 17px;
	position: absolute;
	z-index: 100;
	border: none;
}

.categoryDiv{
	width: 70%;
	border: 2px solid #ffb6c1;
	border-radius: 15px;
	box-shadow: 0px 0px 10px #ffb6c1;
	text-align: center;	
	font-size: 16px;
	max-width: 1100px;
	position: absolute;
	margin-top: 10px;
	margin-left: 50px;
	display: none;
	z-index: 9999;
	background-color: white;
}

.categoryUl{
	width: 16%;
	display: inline-block;
	margin: auto;
	text-align: left;
	border-right: 1px solid gray;
	padding: 15px 0px 15px 15px;
}

#dailyUl{
	border: none;
}

.detailTitle{
	font-weight: 900;
	cursor: pointer;
	margin-bottom: 10px;
}
.detail{
	font-weight: 400;
	cursor: pointer;
}

.detail:hover, .detailTitle:hover{
	color: #ffb6c1;
}

.hidden{
	visibility: hidden;
}
@media screen and (max-width: 768px){
	#menuSearchlist{
		border-left: none;
	}
}
@media screen and (max-width: 575.99px){
	nav{
		height: 50px;
	}
}